@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*====== navbar ===========*/
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    z-index: 999;
    font-family: "ubuntu", sans-serif;
    transition: all 0.3s ease-in-out;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: rgb(248, 37, 79);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: rgb(255, 37, 79);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: whitesmoke;
}

.navbar .menu li {
    display: inline-block;
    list-style: none;
}

.navbar .menu li a {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    margin-left: 27px;
    transition: 0.5s color ease;
}

.navbar .menu li a:hover {
    color: rgb(233, 37, 79);
}

.navbar.sticky .menu li a:hover {
    color: whitesmoke
}

.menu-btn {
    display: none;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*=============== Home Area =================*/
.home {
    overflow-x: hidden;
    display: flex;
    background: linear-gradient(rgba(4,9, 30, 0.7),rgba(4,9, 30, 0.7)),url(res/background.jpg) no-repeat center;
    color: whitesmoke;
    height: 100vh;
    width: 100%;
    font-family: "ubuntu", sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 31px;
}

.home .home-content .text-1 span {
    color: rgb(233, 37, 76);
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 42px;
    margin: 5px 0;
    width: 100%;
}

.home .home-content .text-3 span {
    color: rgb(233, 37, 76);
    font-weight: 500;
}

.btn {
    display: inline-block;
    text-align: center;
    background-color: rgb(233, 37, 76);
    padding: 15px;
    width: 200px;
    margin-top: 30px;
    border-radius: 15px;
    border: 4px rgb(233, 37, 76) solid;
    transition: all 0.5s ease;
}

.btn a {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 600;
}

.btn:hover {
    background-color: transparent;
    border: 4px rgb(233, 37, 76) solid;
}
